<section class="Calendario">
  
  <main class="interface">
    <div class="tabla">
      <main class="tabla-clases">
        <header class="columna">
          <article class="file title">Lunes</article>
          <article class="input file">
            <input 
            id="Lunes" 
            placeholder="Nota" 
            type="text" 
            class="input-table" 
            (input)="onInputChange($event, 'Lunes')" 
            (keyup.enter)="postElemento('Lunes')"
            (blur)="postElemento('Lunes')"
            (keydown.enter)="postElemento('Lunes')">
          </article>
          <article class="file hover" *ngFor="let nota of listaService.getNotas('Lunes')" (click)="this.listaService.removeNoteFromList(nota.dia, nota.id)">{{ nota.nota }}</article>
        </header>
        <header class="columna">
          <article class="file title">Martes</article>
          <article class="input file">
            <input 
            id="Martes" 
            placeholder="Nota" 
            type="text" 
            class="input-table" 
            (input)="onInputChange($event, 'Martes')" 
            (keyup.enter)="postElemento('Martes')"
            (blur)="postElemento('Martes')"
            (keydown.enter)="postElemento('Martes')">
          </article>
          <article class="file hover" *ngFor="let nota of listaService.getNotas('Martes')" (click)="this.listaService.removeNoteFromList(nota.dia, nota.id)">{{ nota.nota }}</article> 
        </header>
        <header class="columna">
          <article class="file title">Miércoles</article>
          <article class="input file">
            <input 
            id="Miercoles" 
            placeholder="Nota" 
            type="text" 
            class="input-table" 
            (input)="onInputChange($event, 'Miercoles')" 
            (keyup.enter)="postElemento('Miercoles')"
            (blur)="postElemento('Miercoles')"
            (keydown.enter)="postElemento('Miercoles')">
          </article>
          <article class="file hover" *ngFor="let nota of listaService.getNotas('Miercoles')" (click)="this.listaService.removeNoteFromList(nota.dia, nota.id)">{{ nota.nota }}</article> <!-- Usa Miercoles aquí -->
        </header>
        <header class="columna">
          <article class="file title">Jueves</article>
          <article class="input file">
            <input 
            id="Jueves" 
            placeholder="Nota" 
            type="text" 
            class="input-table" 
            (input)="onInputChange($event, 'Jueves')" 
            (keyup.enter)="postElemento('Jueves')"
            (blur)="postElemento('Jueves')"
            (keydown.enter)="postElemento('Jueves')">
          </article>
          <article class="file hover" *ngFor="let nota of listaService.getNotas('Jueves')" (click)="this.listaService.removeNoteFromList(nota.dia, nota.id)">{{ nota.nota }}</article> 
        </header>
        <header class="columna">
          <article class="file title">Viernes</article>
          <article class="input file">
            <input 
            id="Viernes" 
            placeholder="Nota" 
            type="text" 
            class="input-table" 
            (input)="onInputChange($event, 'Viernes')" 
            (keyup.enter)="postElemento('Viernes')" 
            (blur)="postElemento('Viernes')"
            (keydown.enter)="postElemento('Viernes')">
          </article>
          <article class="file hover" *ngFor="let nota of listaService.getNotas('Viernes')" (click)="this.listaService.removeNoteFromList(nota.dia, nota.id)">{{ nota.nota }}</article> 
        </header>
      </main>
      <main class="columna-finde">
        <header class="columna">
          <article class="file-finde title">Sábado</article>
          <article class="input file-finde">
            <input 
            id="Sabado" 
            placeholder="Nota" 
            type="text" 
            class="input-table" 
            (input)="onInputChange($event, 'Sabado')" 
            (keyup.enter)="postElemento('Sabado')"
            (blur)="postElemento('Sabado')"
            (keydown.enter)="postElemento('Sabado')">
          </article>
          <article class="file-finde hover" *ngFor="let nota of listaService.getNotas('Sabado')" (click)="this.listaService.removeNoteFromList(nota.dia, nota.id)">{{ nota.nota }}</article>
        </header>
        <header class="columna">
          <article class="file-finde title">Domingo</article>
          <article class="input file-finde">
            <input 
            id="Domingo" 
            placeholder="Nota" 
            type="text" 
            class="input-table" 
            (input)="onInputChange($event, 'Domingo')" 
            (keyup.enter)="postElemento('Domingo')"
            (blur)="postElemento('Domingo')"
            (keydown.enter)="postElemento('Domingo')">
          </article>
          <article class="file-finde hover" *ngFor="let nota of listaService.getNotas('Domingo') "(click)="this.listaService.removeNoteFromList(nota.dia, nota.id)">{{ nota.nota }}</article>
        </header>
      </main>
    </div>
    <div class="pendientes-ideas">
      <div class="pendientes" id="pendientes">
        <header class="columna">
          <article class="file-pendiende title">Pendiente</article>
          <article class="input file-pendiende">
            <input 
            id="Pendiente" 
            placeholder="Pendiente" 
            type="text" 
            class="input-table" 
            (input)="onInputChange($event, 'Pendiente')" 
            (keyup.enter)="postElemento('Pendiente')"
            (blur)="postElemento('Pendiente')"
            (keydown.enter)="postElemento('Pendiente')">
          </article>
          <article class="file-pendiende hover" *ngFor="let nota of listaService.getNotas('Pendiente')" (click)="this.listaService.removeNoteFromList(nota.dia, nota.id)">{{ nota.nota }}</article> 
        </header>
        
      </div>
      <div class="ideas" id="ideas">
        <header class="columna">
          <article class="file-pendiende title">Ideas</article>
          <article class="input file-pendiende">
            <input 
            id="Idea" 
            placeholder="Idea" 
            type="text" 
            class="input-table" 
            (input)="onInputChange($event, 'Idea')" 
            (keyup.enter)="postElemento('Idea')"
            (blur)="postElemento('Idea')"
            (keydown.enter)="postElemento('Idea')">
          </article>
          <article class="file-pendiende hover" *ngFor="let nota of listaService.getNotas('Idea')" (click)="this.listaService.removeNoteFromList(nota.dia, nota.id)">{{ nota.nota }}</article> 
        </header>
      </div>
    </div>
  </main>
</section>
